[loggers]
keys=root,dev,tanka

[handlers]
keys=consoleHandler,file_handler

[formatters]
keys=extend,simple

[logger_root]
level=INFO
handlers=consoleHandler

[logger_dev]
level=INFO
handlers=consoleHandler
qualname=dev
propagate=0

[logger_tanka]
level=INFO
qualname=tanka
handlers=file_handler
propagate=0

[handler_consoleHandler]
class=StreamHandler
level=INFO
formatter=extend
args=(sys.stdout,)

[handler_file_handler]
class=logging.handlers.TimedRotatingFileHandler
level=INFO
formatter=extend
args=('sdk.log', 'W5', 0, 4)

[formatter_extend]
format=%(name)s - %(asctime)s - %(levelname)s - %(message)s

[formatter_simple]
format=%(asctime)s - %(message)s



